name: SQLFluff Lint

on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, synchronize, reopened]
    branches:
      - main

jobs:
  sqlfluff_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - name: Set up Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version-file: ".python-version"
      - name: Install uv
        uses: astral-sh/setup-uv@v6.7.0
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Lint SQL files with SQLFluff
        run: uv run sqlfluff lint --config ./.sqlfluff
